#This is a sample file used as reference to create .env.*.php

<?php
/*
return array (
	'DB_HOST'	  => '127.0.0.1',
	'DB_NAME'     => 'laravel',
	'DB_USER'     => 'root',
	'DB_PASSWORD' => 'root',
);
*/
